/* Colors Used: #ECD8E0, #242333, #BAD8E0 */

html {
  background-color: #d4f2fa;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #eeffff;
  /* color: #c; */
  font-size: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  border-radius: 10%;
}

div > a {
  padding: 10px;
  text-decoration: none;
  color: #242333;
  margin: 0;
}

div > a:hover {
  color: #1677be;
  text-decoration: underline;
}
/* third color #1677be */
.outerdiv {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
  color: #242333;
}

.footer {
  text-align: center;
  padding-bottom: 40px;
}

.icons {
  width: 40px;
  height: 40px;
  text-align: start;
}

.fas,
.fab {
  font-size: 56px;
  margin: 20px;
}

#titlediv,
#titlediv > h3 {
  display: inline;
}

#menudiv {
  display: inline;
  float: right;
}

#techdiv,
#aboutdiv,
#postsdiv,
#contactdiv {
  text-align: center;
}

#leftskill {
  float: left;
  width: 50%;
}

#rightskill {
  float: left;
  width: 50%;
}

#contactdiv2 {
  text-align: center;
}

#imgdiv {
  width: 30%;
  float: left;
  display: inline-block;
}

#aboutdiv {
  width: 70%;
  float: left;
  display: inline-block;
  text-align: left;
}

.static {
  width: 700px;
  margin-left: 120px;
  margin-right: 120px;
  border-radius: 2%;
}

#imghalf1 {
  width: 45%;

  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
}

#imghalf2 {
  width: 45%;

  display: inline-block;
}
