body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #eeffff;
  color: #242333;
  font-size: 20px;
  margin: 0;
}

div > a {
  padding: 10px;
  text-decoration: none;
  color: #242333;
  margin: 0;
}

div > a:hover {
  color: #1677be;
  text-decoration: underline;
}
/* third color #1677be */
.outerdiv {
  width: 70%;
  margin: auto;
  padding-top: 30px;
}

.footer {
  text-align: center;
  padding-bottom: 40px;
}

.icons {
  width: 40px;
  height: 40px;
  text-align: start;
}

.fas,
.fab {
  font-size: 56px;
  margin: 20px;
}

#titlediv,
#titlediv > h3 {
  display: inline;
}

#menudiv {
  display: inline;
  float: right;
}

/* #techdiv,
#aboutdiv,
#contactdiv {
  text-align: center;
} */

/* #leftskill {
  float: left;
  width: 50%;
}

#rightskill {
  float: left;
  width: 50%;
} */

/* #contactdiv {
  width: 100%;
  display: inline-block;
}

#contactdiv2 {
  text-align: center;
} */

/* #imgdiv {
  width: 20%;
  float: left;
  display: inline-block;
}

#aboutdiv {
  width: 70%;
  float: left;
  display: inline-block;
  text-align: left;
  margin-left: 50px;
} */

.static {
  width: 700px;
  border-radius: 2%;
}

#imghalf1 {
  width: 45%;

  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
}

#imghalf2 {
  width: 45%;

  display: inline-block;
}
